@use "sass:color";

$bg: #f3f3f3;
$key: #004dc0;

.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: $key;

  .titleWrapper {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0;
  }
}

.playground {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: $bg;
}
