@use "sass:color";
@font-face {
  font-family: Gainsborough;
  src: url("https://www.mediafont.com/storage/contents/10528/font.eot"); /* IE */
  // src: local("Gainsborough"),
  //   url("https://www.mediafont.com/storage/contents/10528/GAINSBOR.TTF"); /* non-IE */
}

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
$bg: #f3f3f3;
$key: #004dc0;

.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: $key;

  .titleWrapper {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0;
  }
}

.playground {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: $bg;
}
